section {
  .selectContainer {
    width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 485px) {
      flex-direction: column;
      align-items: center;
      align-content: center;
    }

    @media (max-width: 385px) {
      width: 100%;
    }

    select {
      width: 125px;
      padding: 10px;
      color: white;
      background-color: #1c3879;
    }
  }
}
